@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  z-index: 99;
}
nav .container h1 {
  font-family: "Volkhov", serif;
}
nav .container h1 span {
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  animation: wave 1.5s infinite ease-in-out;
  /* 🌊 animatsiya */
}
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
nav .container h1 span:nth-child(1) {
  animation-delay: 0s;
}
nav .container h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
nav .container h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
nav .container h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
nav .container h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
nav .container h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
nav .container h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
nav .container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
nav .container ul li {
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
}
nav .container ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fa7436;
  transform: translate(-50%);
  transition: all 0.3s ease;
}
nav .container ul li:hover::after {
  width: 100%;
}
nav .container ul li:hover {
  color: #fa7436;
}
nav .container .button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav .container .button .b2 {
  background-color: white;
  color: #fa7436;
}
nav .container .button button {
  padding: 10px 20px;
  border: none;
  background-color: #fa7436;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}
nav .container .button button:hover {
  transform: scale(1.1);
}
nav .container .button button:active {
  transform: scale(0.9);
}

.hero .container {
  padding: 50px 0px;
}
.hero .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .container .box .card {
  width: 521px;
  position: relative;
}
.hero .container .box .card .top {
  position: absolute;
  top: -140px;
  z-index: -1;
}
.hero .container .box .card .top img {
  width: 100%;
  height: 100%;
}
.hero .container .box .card h1 {
  font-size: 64px;
  font-weight: 600;
  font-family: "Volkhov", serif;
}
.hero .container .box .card h1 span {
  color: #fa7436;
}
.hero .container .box .card p {
  padding: 20px 0;
  color: #666666;
}
.hero .container .box .card button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #fa7436;
  box-shadow: 0px 0px 4px 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.hero .container .box .card button:hover {
  transform: scale(1.1);
}
.hero .container .box .card button:active {
  transform: scale(0.9);
}
.hero .container .box .card .bigimg {
  width: 450px;
  height: 450px;
}
.hero .container .box .card .bigimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .container .box .card .cards1 {
  top: 60px;
  left: -30px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  gap: 20px;
  box-shadow: 0px 0px 1px 1px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  position: absolute;
  cursor: pointer;
}
.hero .container .box .card .cards1:hover {
  transform: scale(1.05);
}
.hero .container .box .card .cards1:active {
  transform: scale(0.95);
}
.hero .container .box .card .cards2 {
  position: absolute;
  right: 0px;
  background-color: white;
  top: 170px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0px 0px 1px 1px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .container .box .card .cards2:hover {
  transform: scale(1.05);
}
.hero .container .box .card .cards2:active {
  transform: scale(0.95);
}
.hero .container .box .card .cards3 {
  position: absolute;
  bottom: 150px;
  background-color: white;
  left: -90px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0px 0px 1px 1px;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .container .box .card .cards3:hover {
  transform: scale(1.05);
}
.hero .container .box .card .cards3:active {
  transform: scale(0.95);
}
.hero .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 841px;
  margin: 50px 0px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transform: translate(150px);
  transition: all 0.3s ease;
  cursor: pointer;
}
.hero .container .bottom:hover {
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.2);
}
.hero .container .bottom .card select {
  border: none;
  outline: none;
  padding: 10px;
}
.hero .container .bottom .card p {
  color: #666666;
}
.hero .container .bottom .card button {
  padding: 15px 30px;
  border: none;
  background-color: #fa7436;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.hero .container .bottom .card button:hover {
  transform: scale(1.1);
}
.hero .container .bottom .card button:active {
  transform: scale(0.9);
}

.s1 {
  background-color: #f7f8fc;
}
.s1 .container {
  padding: 50px 0px;
}
.s1 .container .title {
  text-align: center;
  position: relative;
  padding: 30px 0px;
}
.s1 .container .title h1 {
  font-family: "Volkhov", serif;
}
.s1 .container .title h1 span {
  color: #fa7436;
}
.s1 .container .title p {
  color: #666666;
  line-height: 25px;
  padding: 10px 400px;
}
.s1 .container .title .planes {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.s1 .container .title .plane {
  position: absolute;
  width: 40px;
}
.s1 .container .title {
  /* ✈️ 1-samolyot */
}
.s1 .container .title .p1 {
  offset-path: path("M0,100 C100,0 200,200 300,100");
  offset-rotate: auto;
  animation: fly 6s linear infinite;
}
.s1 .container .title {
  /* ✈️ 2-samolyot */
}
.s1 .container .title .p2 {
  offset-path: path("M0,150 C150,250 250,0 400,120");
  offset-rotate: auto;
  animation: fly 6s linear infinite;
}
@keyframes fly {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
.s1 .container .box {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s1 .container .box .card {
  width: 370px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.s1 .container .box .card:hover span {
  transform: translate(367px);
  width: 100%;
  background-color: rgba(250, 116, 54, 0.0549019608);
}
.s1 .container .box .card:hover span:nth-of-type(2) {
  transform: translate(367px);
  width: 100%;
  background-color: rgba(64, 134, 244, 0.0549019608);
}
.s1 .container .box .card:hover span:nth-of-type(3) {
  transform: translate(367px);
  width: 100%;
  background-color: rgba(255, 182, 10, 0.0549019608);
}
.s1 .container .box .card img {
  padding-bottom: 30px;
}
.s1 .container .box .card h3 {
  padding-bottom: 15px;
}
.s1 .container .box .card p {
  padding: 10px 0px;
  color: #666666;
}
.s1 .container .box .card span {
  width: 3px;
  height: 300px;
  border: 1px solid #fa7436;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #fa7436;
  transition: all 0.4s ease;
}
.s1 .container .box .card .sp2 {
  width: 3px;
  height: 300px;
  border: 1px solid #4086f4;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #4086f4;
  transition: all 0.4s ease;
}
.s1 .container .box .card .sp3 {
  width: 3px;
  height: 300px;
  border: 1px solid #ffb60a;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ffb60a;
  transition: all 0.4s ease;
}

.s2 {
  background-color: #fefcfb;
}
.s2 .container {
  padding: 50px 0px;
}
.s2 .container .title {
  text-align: center;
  position: relative;
  padding: 30px 0px;
}
.s2 .container .title h1 {
  font-family: "Volkhov", serif;
}
.s2 .container .title h1 span {
  color: #fa7436;
}
.s2 .container .title p {
  color: #666666;
  line-height: 25px;
  padding: 10px 400px;
}
.s2 .container .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s2 .container .box .card {
  width: 270px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s2 .container .box .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(254, 147, 94, 0.2), 0 10px 25px rgba(254, 147, 94, 0.2);
}
.s2 .container .box .card:hover button {
  transform: scale(1);
}
.s2 .container .box .card button {
  padding: 10px 20px;
  background-color: #fa7436;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 200px;
  left: 87px;
  transition: all 0.3s ease;
  transform: scale(0);
}
.s2 .container .box .card button:hover {
  transform: scale(1.1);
}
.s2 .container .box .card button:active {
  transform: scale(0.9);
}
.s2 .container .box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s2 .container .box .card .info {
  border: 2px solid #e0e0e0;
  padding: 10px 10px;
  border-radius: 5px;
}
.s2 .container .box .card .info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.s2 .container .box .card .info h3 span {
  color: #666666;
}
.s2 .container .box .card .info h3 span i {
  color: #ffc107;
}
.s2 .container .box .card .info .narx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666666;
}
.s2 .container .box .card .info .narx ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
}
.s2 .container .box .card .info .narx ul li:nth-child(1) {
  color: #fa7436;
  color: #666666;
  text-decoration: line-through;
}
.s2 .container .box .card .info .narx ul li:nth-child(2) {
  color: #fa7436;
  font-weight: 600;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  background-color: rgba(250, 116, 54, 0.384);
}

.s3 .container {
  padding: 50px 0px;
}
.s3 .container .title {
  text-align: center;
  padding: 30px 0px;
  position: relative;
}
.s3 .container .title h1 {
  text-align: center;
  font-family: "Volkhov", serif;
}
.s3 .container .title h1 span {
  color: #fa7436;
}
.s3 .container .title p {
  padding: 10px 400px;
  color: #666666;
  line-height: 25px;
}
.s3 .container .title img {
  position: absolute;
  right: 100px;
  top: 50px;
}
.s3 .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.s3 .container .box .card {
  width: 270px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s3 .container .box .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 30px 60px rgba(254, 147, 94, 0.2), 0 10px 25px rgba(254, 147, 94, 0.2);
}
.s3 .container .box .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s3 .container .box .card .info {
  border: 2px solid #e0e0e0;
  padding: 10px 10px;
  border-radius: 5px;
}
.s3 .container .box .card .info h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.s3 .container .box .card .info h3 span {
  color: #666666;
}
.s3 .container .box .card .info h3 span i {
  color: #ffc107;
}
.s3 .container .box .card .info .narx {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #666666;
}
.s3 .container .box .card .info .narx ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
}
.s3 .container .box .card .info .narx ul li:nth-child(1) {
  color: #fa7436;
  color: #666666;
  text-decoration: line-through;
}
.s3 .container .box .card .info .narx ul li:nth-child(2) {
  color: #fa7436;
  font-weight: 600;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 30px;
  background-color: rgba(250, 116, 54, 0.384);
}

.s4 {
  background-color: #f7f8fc;
}
.s4 .container {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  gap: 300px;
  overflow: hidden;
}
.s4 .container .box1 {
  width: 400px;
}
.s4 .container .box1 h1 {
  font-size: 40px;
  font-family: "Volkhov", serif;
  padding: 10px;
}
.s4 .container .box1 h1 span {
  color: #fa7436;
}
.s4 .container .box1 p {
  color: #666666;
  line-height: 25px;
  padding: 10px 0px;
}
.s4 .container .box1 .arrow {
  display: flex;
  align-items: center;
  gap: 30px;
}
.s4 .container .box1 .arrow i {
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #666666;
}
.s4 .container .box1 .arrow i:nth-of-type(2) {
  background-color: #fa7436;
  color: white;
}
.s4 .container .box2 {
  position: relative;
}
.s4 .container .box2 img {
  position: absolute;
  top: -20px;
  left: -30px;
}
.s4 .container .box2 .card1 {
  width: 504px;
  padding: 40px;
  background-color: white;
}
.s4 .container .box2 .card1 p {
  line-height: 30px;
  color: #666666;
  padding-bottom: 20px;
  padding-top: 10px;
}
.s4 .container .box2 .card2 {
  width: 504px;
  padding: 40px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  bottom: -100px;
  right: -100px;
  margin-bottom: 50px;
}
.s4 .container .box2 .card2 p {
  line-height: 30px;
  color: #666666;
  padding-bottom: 20px;
  padding-top: 10px;
}

.s5 {
  background-color: #fefcfb;
}
.s5 .container {
  padding: 50px 0px;
}
.s5 .container .title {
  text-align: center;
  position: relative;
  padding: 30px 0px;
}
.s5 .container .title h1 {
  font-family: "Volkhov", serif;
}
.s5 .container .title h1 span {
  color: #fa7436;
}
.s5 .container .box {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.s5 .container .box .card {
  width: 270px;
  line-height: 30px;
}
.s5 .container .box .card p {
  color: #666666;
}

.s6 {
  background-color: #fa7436;
}
.s6 .container {
  padding: 50px 0px;
  color: white;
  position: relative;
  overflow-y: hidden;
}
.s6 .container img {
  position: absolute;
  right: 20px;
}
.s6 .container img:nth-of-type(2) {
  position: absolute;
  bottom: -30px;
  left: -20px;
}
.s6 .container h1 {
  font-size: 48px;
  font-family: "Volkhov", serif;
  text-align: center;
  padding: 20px 250px;
}
.s6 .container form {
  width: 590px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
}
.s6 .container form input {
  width: 500px;
  padding: 15px 20px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
.s6 .container form button {
  padding: 10px;
  border: none;
  background-color: #fa7436;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.s6 .container form button:hover {
  transform: scale(1.1);
}
.s6 .container form button:active {
  transform: scale(0.9);
}/*# sourceMappingURL=main.css.map */